$RECYCLE.BIN/
__macosx
backup/
temp/
tmp/

.*
!/.gitattributes
!/.gitconfig
!/.github
!/.gitignore
!/.gitmodules
!/.bgforge.yml

*.7z
*.bak
*.bat
*.iemod
*.lnk
*.rar
*.tar*
*.tmp
*.zip

Thumbs.db

# Visual Studio Code
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
